.projects-container {
  background: rgba(241, 241, 241, 0.932);
  height: 100vh;
  padding: 50px;
  a {
    color: rgb(31, 102, 160);
    // padding-bottom: 60px;
    line-height: 12px;
  }
  p {
    line-height: 30pxpx;
    margin-bottom: 0px;
  }
}
